{% extends "layout.html" %}
{% block content %}
    <h2>{{heading3}}</h2>
    {% for album in albums %}
    <p></p>
    <div class="card" style="width: 600px;">
        <img src="static/images/{{album[3]}}" class="card-img-top">
        <div class="card-body">
            <h2 class="card-text">Artist: {{album[1]}}</h2>
            <h2 class="card-text">Title: {{album[0]}}</h2>
            <h3 class="card-text">Genre: {{album[2]}}</h3>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock content %}

