{% extends "layout.html" %}
{% block content %}
    {% if session.name %}
        You are logged in as {{ session.name }}. <a class="nav-item nav-link" href="{{url_for('logout')}}">LOGOUT</a>
    {% else %}
        <form action="/login" method="post" id="login_form">
            <p></p>
            <input class="form-control" autocomplete="off" autofocus type="text" placeholder="Name" name="name" id="user_name"/>
            <input type="submit" value="LOGIN" />
            <span id="login_error" class="text-warning">*</span>
        </form>
    {% endif %}
{% endblock content %}